<!DOCTYPE html>
<html>
<head>
  <title>Anotoki</title>
  <%= stylesheet_link_tag    "anotoki/application", media: "all" %>
  <%= javascript_include_tag "anotoki/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
